
body, html {
    height: 100%;
    margin: 10px;
}

.navbar {
    position: sticky;
    background-color: transparent;
    font-family: 'Fjalla One', sans-serif;
    min-height: 48px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.name a{
    text-align: center;
    font-size: xx-large;
    font-stretch: extra-expanded;
    padding: 14px 16px;
}

.name img {
    float: left;
    width: 40px;
    height: 50px;
}
.center {
    text-align: center;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.reportsDropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}



.right {
    float: right;
    overflow: hidden;
}

.show {
    display: block;
}



